*{margin: 0;padding: 0}
a,a:hover {color: #ffffff;text-decoration: none}
html,body{overflow: hidden;;height: 100%;}
ul li{list-style: none;}

.my-input::-webkit-input-placeholder {
    color: #dcdcdc;
}
.my-input:-moz-placeholder {
    color: #dcdcdc;
}
.my-input:-ms-input-placeholder {
    color: #dcdcdc;
}

.cursor{
    cursor: pointer;
}